<span class="sub_page">
  <!-- contact section -->
  <section>
      <div class="container p-0">

      <h1 class="h3 mb-3">Messages</h1>

      <div class="card">
        <div class="row g-0 d-flex flex-row justify-content-center">
          
          <div class="col-12 col-lg-7 col-xl-9">
            <div class="position-relative">
              <div class="chat-messages p-4" id="chat_messages_new" style="height: 400px; width: 100%; overflow: scroll;">

                <div class="chat-message-right pb-4">
                  
                </div>

                <div class="chat-message-left pb-4">
                  
                </div>

              </div>
            </div>

            <div class="flex-grow-0 py-3 px-4 border-top">
              <div class="input-group d-flex flex-column">
                <input type="text" class="form-control w-25" placeholder="Email address" id="socket-email">
                <input type="text" class="form-control w-50 mt-2 mb-2" placeholder="Type your message" id="socket-input">
                <button class="btn btn-primary w-25" id="socket-send">Send</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end contact section -->
</span>

{{> scripts}}